# Created by http://www.gitignore.io
### Grails ###
# .gitignore for Grails 1.2 and 1.3 web application files
/web-app/WEB-INF/classes
# default HSQL database files for production mode
/prodDb.*
# general HSQL database files
*Db.properties *Db.script
# logs
/stacktrace.log /test/reports /logs
# project release file
/*.war
# plugin release files
/*.zip /plugin.xml
# older plugin install locations
/plugins /web-app/plugins
# "temporary" build files
/target
### Cloud9 ###
# Cloud9 IDE - http://c9.io
.c9revisions .c9
### SublimeText ###
# workspace files are user-specific
*.sublime-workspace
# project files should be checked into the repository, unless a significant proportion of contributors will probably not be using SublimeText *.sublime-project sftp configuration file
sftp-config.json
### Eclipse ###
*.pydevproject .metadata .gradle bin/ tmp/ *.tmp *.bak *.swp *~.nib local.properties .settings/ .loadpath
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
# PDT-specific
.buildpath
# sbteclipse plugin
.target
# TeXlipse plugin
.texlipse
